:local {
  .root {
  }

  .container {
    width: 100%;
    margin-top: 100px;
    min-height: 500px;
  }

  .title {
    text-align: center;
    font-size: 36px;
  }

  .tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  td:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .mapContainer {
    margin-top: 25px;
    margin-bottom: 50px;
    height: 300px;
  }
}