:local {
  .root {
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(182, 182, 182));
  }

  .container {
    width: 100%;
    margin-top: 75px;
  }

  .title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
  }

  .tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  td:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .mapContainer {
    margin-top: 50px;
    height: 300px;
  }
}