@import "../../../index";

:local {
  .root {
    background-color: rgb(230, 50, 50);
    color: $white-text-color;
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .container {
    width: 100%;
    min-height: 110vh;
  }

  .title {
    font-size: 36px;
    text-align: center;
  }
}