@import "../../../index";

:local {
  .root {
    background: linear-gradient(to bottom, rgb(30, 118, 230), rgb(129, 0, 230));
    color: $white-text-color;
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .container {
    width: 100%;
    margin-right: 15px;
  }

  .title {
    font-size: 36px;
    text-align: center;
  }

  .personalityContainer {
    margin: 20px;
  }

  .personalityHeadText {
    margin-right: 15px;
    font-size: 21px;
    font-weight: bold;
  }

  .personalityDetailText {
    padding-bottom: 10px;
  }
}