@import '../../index';

:local {
  .root {
    position: sticky;
    top: 0;
    z-index: 1337;
    background: rgba(20, 20, 20, 0.9); //rgba(255, 255, 255, 0.95);
    margin-bottom: -62px;
  }

  .menuIcon {
    color: $white-text-color;
    margin: 15px;
    margin-left: 25px;
  }

  .menuIcon:hover {
    cursor: pointer;
  }

  .menuContainer {
    position: sticky;
    top: 62px;
    background: rgba(20, 20, 20, 0.9); //rgba(255, 255, 255, 0.95);
    z-index: 1338;
    margin-bottom: -134px;
  }

  .menuContainerHidden {
    display: none;
  }

  .navItem {
    font-size: 15px;
    margin-bottom: 10px;
    color: #a1a1a1;
    cursor: pointer;
  }

  .navItemSelected {
    color: $red-hint-color;
  }
}