:local {
  .root {
    background: #222222;
    color: #fafafa;
  }

  .container {
    width: 100%;
    margin-top: 100px;
    min-height: 500px;
  }

  .title {
    font-size: 36px;
    text-align: center;
  }
}