@import "../../../index";

:local {
  .root {
    padding-bottom: 75px;
  }

  .container {
    width: 100%;
    min-height: 500px;
    padding-top: 75px;
  }

  .title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
  }

  .projectsRow {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
  }

  @media(min-width: 1024px) {
    .projectsRow {
      height: 400px;
    }
  }

  @media(min-width: 1600px) {
    .projectsRow {
      height: 500px;
    }
  }

  .project {
    border: 1px solid white;
    min-width: 300px;
  }

  .projectContent {
    width: 100%;
    height: 100%;
    padding: 35px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .3s ease-in-out;
    border: 1px solid white;
  }

  .projectContent:hover {
    //background-size: 0, auto, cover;
    //transform: scale(1.1);
  }

  .filler {
    flex: 1;
  }

  .projectSource {
    position: relative;
    bottom: 30px;
    margin-right: 45px;
  }

  .projectTechnologies {
    position: relative;
    bottom: 50px;
    margin-right: 45px;
    color: #afafaf;
    font-size: 14px;
  }

  .projectTitle {
    font-size: 28px;
  }

  .projectDescription {
    color: #d7d7d7;
    margin-right: 45px;
  }
}