@import "../../../index";

:local {
  .root {
    padding-bottom: 75px;
  }

  .container {
    width: 100%;
    min-height: 500px;
    padding-top: 75px;
  }

  .title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
  }

  .projectsRow {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    height: 500px;
    //margin-top: 5px;
    //margin-bottom: 5px;
  }

  .project {
    //margin-left: 5px;
    //margin-right: 5px;
    border: 1px solid white;
  }

  .projectContent {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 200%;
    padding: 35px;
    color: #FFFFFF;
  }

  .projectTechnologies {
    position: relative;
    width: 100%;
    bottom: 223%;
    left: 25px;
    color: #afafaf;
    font-size: 14px;
  }

  .projectTitle {
    font-size: 28px;
  }

  .projectDescription {
    color: #d7d7d7;
    margin-right: 45px;
  }

  .projectImgContainer {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .projectDarkenLayer {
    background-color: rgba(0,0,0,.75);
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 100%;
  }
}