:local {
  .root {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .container {
    width: 100%;
    min-height: 500px;
  }

  .title {
    font-size: 36px;
    text-align: center;
  }

  .grid {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 50%;
  }

  .gridItem {
    flex: 1;
    min-width: 250px;
    margin: 20px;
  }

  .gridItem > h4 {
    text-align: center;
  }

  .gridItemList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .centerList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .textBlock {
    text-align: center;
  }

  .textBlock:last-child {
    margin-bottom: 75px;
  }

  .textBlockHeading {
    text-align: center;
    margin-bottom: 40px;
  }
}