@import "../../../index";

:local {
  .root {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .container {
    width: 100%;
    min-height: 500px;
  }

  .title {
    font-size: 36px;
    margin-right: 20px;
    //text-align: center;
  }

  .grid {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 50%;
    margin-top: 50px;
    margin-bottom: 75px;
    background-color: #f6f6f6;
    border-radius: 10px;
  }

  .gridItem {
    flex: 1;
    min-width: 250px;
    margin: 20px;
    //background-color: rgba(20, 20, 20, 0.5);
    //color: $white-text-color;
  }

  .iconGridItem {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .iconGridItemIcon {
    width: 50px;
    height: 50px;
  }

  .iconGridItemTitle {
    text-align: center;
    margin-bottom: 0px;
  }

  .gridItem > h4 {
    text-align: center;
    font-size: 21px;
  }

  .gridItemList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .centerList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .textBlock {
    text-align: center;
  }

  .textBlock:last-child {
    margin-bottom: 75px;
  }

  .textBlockHeading {
    text-align: center;
    margin-bottom: 40px;
  }
}