:local {
  .root {
    display: flex;
    justify-content: center;
  }

  .content {
    width: 100%;
    max-width: 1380px;
  }

  @media (min-width: 1430px) {
    .content {
      margin-left: 50px;
      margin-right: 50px;
    }
  }
}