@import '../../../index';
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);

:local {
  $height: 100vh;

  .root {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: $height;
  }

  .backgroundContainer {
    height: $height;
    width: 100vw;
    //background: linear-gradient(to bottom, #FFF 10%, #10ffc0);
    background: url(./background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .content {
    position: relative;
    top: -$height;
    margin-bottom: -$height;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imgMe {
    width: 200px;
    border-radius: 50%;
    border: 5px solid #da4949;
  }

  .name {
    margin: 0;
    margin-top: 20px;
    font-size: 31px;
    color: $white-text-color;
  }

  .position {
    color: #f7d0d5; //#404040;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .bio {
    color: #636363;
    font-weight: bold;
    color: $white-text-color;
    background: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 25px;
    margin-bottom: 75px;
    font-family: "Fira Code", source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
  }

  .mediumLink {
    color: #f7d0d5;
    padding: 10px;
  }
}