:local {
  .root {
    display: flex;
    flex-direction: column;
    align-items: center;
    //background: linear-gradient(to bottom, #000, #FFF);
    height: 100vh;
  }

  .backgroundContainer {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #FFF 1%, #10ffc0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .content {
    position: relative;
    top: -100vh;
    margin-bottom: -100vh;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imgMe {
    width: 200px;
    border-radius: 50%;
    border: 5px solid #77ffdf;
  }

  .name {
    margin: 0;
    margin-top: 20px;
    font-size: 31px;
  }

  .position {
    color: #5f5f5f;
    font-weight: normal;
  }

  .mediumLink {
    color: #ff4f67;
    padding: 10px;
  }
}