:local {
  .root {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url(./landing-shape.svg);
    background-position: center;
    background-size: cover;
  }

  .content {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imgMe {
    width: 200px;
    border-radius: 50%;
  }
}