:local {
  .root {
    display: flex;
    flex-direction: column;
    align-items: center;
    //background: linear-gradient(to bottom, #000, #FFF);
    height: 100vh;
  }

  .backgroundContainer {
    height: 100vh;
    width: 100vw;
    background-image: url(./landing-shape2.svg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  .content {
    position: relative;
    top: -100vh;
    margin-bottom: -100vh;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imgMe {
    width: 200px;
    border-radius: 50%;
  }
}