:local {
  .root {
    padding: 75px 0px;
    background-image: linear-gradient(#1affab, #00bd6f);
    color: white;
  }

  .container {
    width: 100%;
  }

  .title {
    font-size: 36px;
    text-align: center;
  }

  .subTitle {
    text-align: center;
  }
}